<!DOCTYPE html>
<html>

<head>
  <title>Sun - Rise & Set times</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>When does your Sun rise and set?</h1>

  <div class="container">
    <h3> Kindly enter the longitude and latitude for your village, town or city: </h3>
  <ol>
    <li>Open <a href= "https://www.google.com/maps" target = "_blank"> Google Maps</a>. Search for your address/location.</li>
    <li>Right-click on the red pin📍that appears on the map. A pop-up window will show with the latitude and longitude at the top.</li>
    <li>Left click on the latitude and longitude to copy the coordinates automatically.</li>
    <li>Paste BELOW the coordinates (as is) from Google Maps and press Go. You will see your sunrise and sunset times (without daylight savings time).</li>
  </ol>
  </h3>

  <form action="/submit"  id="form" class="form" method="POST">
    <input name="coordinates" class="form-input">
    <button type="submit" class="form-submit">Go</button>
  </form>

  <% if (locals.error) { %>
    <p class="error"> <%= error %> </p>
  <% } %>

  </div>

</body>

</html>